* {
    top: 0;
    padding: 0;
    margin: 0;
    background-color: dimgray;
    font-family: 'Press Start 2P', cursive;

}

.container-header p {
    font-size: 38px;
}

img {
    width: 50px;
    height: 50px;
}

.container-header {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 15%;
}

.score {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.score-number {
    display: flex;
    justify-content: center;
}

.score-number p {
    padding-top: 10px;
}

.score-header {
    display: flex;
    justify-content: center;
}

.container-player {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-container {
    justify-content: center;
    display: flex;
    width: 50%;
    padding-top: 10%;
}

.button-container img {}

.container-computer {}

.button button {
    margin: 7px;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10%;
}

#footer p {
    font-size: 20px;
}

.result {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.selectedValues {
    display: flex;
    justify-content: center;
}